body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(70, 160, 230);
    color: #0e0a0a;
}

header, footer {
    background-color: #b1f5f5;
    color: rgb(255, 9, 5);
    text-align: center;
    padding: 15px 0;
}

nav a {
    color: rgb(9, 9, 9);
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.biography {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.biography h2, .biography h3 {
    color: #0a0b0b;
}

.biography p {
    margin: 10px 0;
}
